* {
  font-family: Abel, sans-serif;
}

body{
  background-image: url(../img/leaf-patterns.jpg);
}

.hide{
  display: none;
}

nav{
  background-color: #f2ba05;
  border: solid black 2px;
  width: 100%;
  float: left;
}

nav ul{
  font-size: 20px;
  list-style: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
}

nav li{
  float:left;
  margin: 20px 30px 20px 0px;
  line-height: 30px;
}

nav h1{
  font-size: 40px;
  float: right;
  margin: 20px;
  line-height: 30px;
}

#flowerIcons{
  background-color: rgba(70, 89, 2, 0);
  width: 99.8%;
  border: solid black 2px;
  margin-top: 10px;
}

.photoIcon{
  width: 12%;
  margin-right: 2%;
  margin-left: 2%;
}

.photoIcon:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#topRow{
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-left: 15px;
}

#bottomRow{
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 3px;
  margin-left: 15px;
}

#flowerBox{
  background-color: rgba(254, 248, 98, 0.85);
  margin-top: 10px;
  margin-left: 10px;
  border: solid black 2px;
  width: 550px;
  text-align: center;
}

.flowerSummary{
  border: solid black 2px;
  position: relative;
}

.flowerBoxImageContainer{
  width: 60px;
  display: block;
  text-align: justify;
  position: absolute;
  left: 0;
  top: 10px;
}

.flowerBoxText{
  width: 455px;
  display: block;
  margin-left: 60px;
  text-align: justify;
}

.flowerBoxImage{
  width: 40px;
  height: auto;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  text-align: justify;
}

.emptyBox {
  font-size: 18px;
}
#userEmailChoicesDiv {
  /*float: right;
  margin-right: 10px;
  margin-top: -150px;*/
  position: absolute;
  top: 434px;
  right: 17px;
  width: 642px;
  height: 499px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: block;
}

#alertMessageDiv {
background-color: rgba(254, 248, 98, 0.85);
  width: 640px;
  height: 298px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#preferencesHeaderDiv {
  background-color: #f2ba05;
  width: 640px;
  height: 80px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#preferencesHeader {
  text-align: center;
}

#formDiv {
  background-color: rgba(254, 248, 98, 0.85);
  width: 640px;
  height: 120px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#userEmailButton {
  font-size: 18px;
  margin-left: 235px;
}

#utLabel {
    width: 57%;
    float: left;
}

#upLabel {
    float: left;
    width: 76%
}

#adLabel {
  float: left;
  width: 66%;
}

#edLabel {
    float: left;
    width: 76%;
}

#userTemp {
  width: 142px;
  font-size: 15px;
  display: block;
  float: right;
  margin-right: 10px;
}

#userPrecip {
  width: 142px;
  font-size: 15px;
  display: block;
  float: right;
  margin-right: 10px;
}

#amountOfDays {
  width: 142px;
  font-size: 15px;
  display: block;
  float: right;
  margin-right: 10px;
}

#emailDelay {
  width: 142px;
  font-size: 15px;
  display: block;
  float: right;
  margin-right: 10px;
}

#output {
  background-color: rgba(254, 248, 98, 0.85);
  border: solid black 1px;
  position: relative;
}

.option {
  text-align: right;
}
