* {
  font-family: Abel, sans-serif;
}

body{
  background-image: url(../img/leaf-patterns.jpg);
}

.hide{
  display: none;
}

#nav{
  background-color: #f2ba05;
  border: solid black 2px;
  width: 100%;
}

#flowerIcons{
  background-color: rgba(70, 89, 2, 0);
  width: 99.8%;
  border: solid black 2px;
  margin-top: 10px;
}

.photoIcon{
  width: 12%;
  margin-right: 2%;
  margin-left: 2%;
}

.photoIcon:hover{
  transform: scale(1.05);
}

#topRow{
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;
  margin-left: 15px;
  margin-top: 7px;
}

#bottomRow{
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;
  margin-left: 15px;
  margin-top: 3px;
}

#flowerBox{
  background-color: #fef862;
  margin-top: 10px;
  margin-left: 10px;
  border: solid black 2px;
  width: 550px;
  text-align: center;
}

.flowerSummary{
/*  text-align: justify;*/
  border: solid black 2px;
  position: relative;
}

.flowerBoxImageContainer{
  width: 60px;
  display: block;
  text-align: justify;
  position: absolute;
  left: 0;
  top: 10px;
}

.flowerBoxText{
  width: 250px;
  display: block;
  margin-left: 60px;
}

.flowerBoxImage{
  width: 40px;
  height: auto;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  text-align: justify;
}

.flowerBoxText{
  display: inline-block;
  width: 80%;
  text-align: justify;
}

#userEmailChoicesDiv {
  float: right;
  margin-right: 10px;
  margin-top: -150px;
  width: 642px;
  height: 499px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: block;
}

#alertMessageDiv {
  background-color: #fef862;
  width: 640px;
  height: 298px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#preferencesHeaderDiv {
  background-color: #f2ba05;
  width: 640px;
  height: 80px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#preferencesHeader {
  text-align: center;
}

#formDiv {
  background-color: #fef862;
  width: 640px;
  height: 115px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#userEmailButton {
  margin-left: 250px;
}

#utLabel {
    width: 85%;
    float: left;
}

#upLabel {
    float: left;
    width: 78.5%
}

#adLabel {
  float: left;
  width: 88.3%;
}

#edLabel {
    float: left;
    width: 84.7%;
}
