*{
  font-family: Abel, sans-serif;
}

body{
  background-image: url(../img/leaf-patterns.jpg);
}

.hide{
  display: none;
}

nav{
  background-color: #f2ba05;
  border: solid black 2px;
  width: 100%;
  float: left;
  border-radius: 15px;
}

nav ul{
  font-size: 20px;
  list-style: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
}

nav li{
  float:left;
  margin: 20px 30px 20px 0px;
  line-height: 30px;
}

nav h1{
  font-size: 40px;
  float: right;
  margin: 20px;
  line-height: 30px;
}

#flowerText{
  border: solid black 2px;
  margin-top: 37px;
  background-color: rgba(254, 248, 98, 0.85);
  display: inline-block;
  width: 40%;
  margin-left: 1.5px;
  text-align:justify;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

#flowerPhotoEtc{
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  float: right;
  width: 40%;
}

#flowerPhotoEtc img{
  width: 100%;
  height: auto;
  border: solid white 10px;
  border-radius: 5px;
}

.bttn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #666666;
  -moz-box-shadow: 0px 3px 6px #666666;
  box-shadow: 0px 3px 6px #666666;
  font-family: Arial;
  color: #fef962;
  font-size: 20px;
  background: #465902;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  margin-left: 28%;
}

.bttn:hover {
  background: #f2ba05;
  text-decoration: none;
}
