#body {
  background-image: url(../img/flowerbg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Abel', sans-serif;
}

#header {
  font-family: 'Abel', sans-serif;
  position: relative;
  text-align: center;
  font-size: 75px;
  background-color: rgba(242, 186, 5, 0.4);
}

#email {
  float:right;
  margin-right: 5px;
  position: relative;
  margin-left: 15.6%
}

#password {
  float:right;
  margin-right: 5px;
  margin-left: 5.5%;
}
.hidden {
  font-family: 'Abel', sans-serif;
  display: none;
}

.logIn {
  position: relative;
  left: 50%
  font-family: 'Abel', sans-serif;
  display: none;
}

#signIn {
  font-family: 'Abel', sans-serif;
  position:relative;
  left: 40%;
}

#signUp {
  display:none;
  position: relative;
  left: 46%;
  font-family: 'Abel', sans-serif;
}

#createAccount {
  font-family: 'Abel', sans-serif;
  position: relative;
  left: 40%;
}

#signInForm {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Abel', sans-serif;
  position: relative;
  width: 20%;
  margin-left: 40%;
  background-color: rgba(254, 248, 98, 0.6);
}

#signUpForm {
  border-radius: 10px;
  padding: 5px;
  font-family: 'Abel', sans-serif;
  display: none;
  position: relative;
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(254, 248, 98, 0.6);
}

#name {
  float:right;
  margin-right: 5px;
  margin-left: 15.4%;
}

#city {
  float:right;
  margin-right: 5px;
  margin-left: 19.5%
}

#state {
  float:right;
  margin-right: 5px;
  margin-left: 15.6%;
}

#email2 {
  float:right;
  margin-right: 5px;
  margin-left: 15.6%
}

#password2 {
  float:right;
  margin-right: 5px;
  margin-left: 5.6%;
}

#noMatch {
  width: 35%;
  background-color: rgba(254, 248, 98, 0.6);
  margin-left: 33%;
  margin-right: 29%;
  margin-top: 2%;
  border-radius: 10px;
  text-align: center;
}

#signUpMessage {
  background-color: rgba(254, 248, 98, 0.6);
  margin-left: 40%;
  margin-right: 39.5%;
  text-align: center;
  border-radius: 10px;
}

#nameLabel {
  margin-right: 36px;
}

#cityLabel {
  margin-right: 26px;
}

#stateLabel {
  margin-right: 33px;
}

#emailLabel2 {
  margin-right: 8px;
}

#emailLabel {
  margin-right: 36px;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #666666;
  -moz-box-shadow: 0px 3px 6px #666666;
  box-shadow: 0px 3px 6px #666666;
  font-family: Arial;
  color: #fef962;
  font-size: 15px;
  background: #465902;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  margin-top: 5px;
}

.btn:hover {
  background: #f2ba05;
  text-decoration: none;
}
