#body {
  background-image: url(../img/flowerbg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Abel', sans-serif;
}

#header {
  font-family: 'Abel', sans-serif;
  position: relative;
  text-align: center;
  font-size: 75px;
  background-color: rgba(242, 186, 5, 0.4);
}

#email {
  float:right;
  margin-right: 5px;
  position: relative;
  margin-left: 15.6%
}

#password {
  float:right;
  margin-right: 5px;
  margin-left: 5.5%;
}
.hidden {
  font-family: 'Abel', sans-serif;
  display: none;
}

.logIn {
  position: relative;
  left: 50%
  font-family: 'Abel', sans-serif;
  display: none;
}

#signIn {
  font-family: 'Abel', sans-serif;
  position:relative;
  left: 40%;
}

#signUp {
  display:none;
  position: relative;
  left: 43%;
  font-family: 'Abel', sans-serif;
}

#createAccount {
  font-family: 'Abel', sans-serif;
  position: relative;
  left: 42%;
}

#signInForm {
  font-family: 'Abel', sans-serif;
  position: relative;
  width: 20%;
  margin-left: 40%;
  background-color: rgba(254, 248, 98, 0.6);
}

#signUpForm {
  font-family: 'Abel', sans-serif;
  display: none;
  position: relative;
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(254, 248, 98, 0.6);
}

#name {
  margin-right: 16px;
  float:right;
  margin-right: 5px;
  margin-left: 15.4%;
}

#city {
  margin-right: 7px;
  float:right;
  margin-right: 5px;
  margin-left: 19.5%
}

#state {
  margin-right: 6px;
  float:right;
  margin-right: 5px;
  margin-left: 15.6%;
}

#email2 {
  float:right;
  margin-right: 5px;
  margin-left: 15.6%
}

#password2 {
  float:right;
  margin-right: 5px;
  margin-left: 5.6%;
}

#noMatch {
  width: 38.2%;
  background-color: rgba(254, 248, 98, 0.6);
  margin-left: 31%;
  margin-right: 31%;
}

#signUpMessage {
  background-color: rgba(254, 248, 98, 0.6);
  margin-left: 39%;
  margin-right: 39%;
}
